{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="{% static 'pybo/profile.css' %}">
</head>
<body>
    <div id = "container">
        <header>
            <nav>
                <div id="logo">
                    <a href="{% url 'pybo:index' %}"><h2>PyWeb</h2></a>
                </div>
                <ul id="main-nav">
                    <li><a href="#who">나는?(who)</a></li>
                    <li><a href="#job">경력(Job)</a></li>
                    <li><a href="#skill">기술(skill)</a></li>
                </ul>
            </nav>
        </header>
        <section id="who">
            <div class="page-title">
                <h1>Who Am I?</h1>
            </div>
            <div class="content">
                <div class="photo">
                    <img src="{% static 'pybo/question.jpg' %}" alt="물음표">
                </div>
                <div class="text">
                   <p><strong>- 저는 인천 미추홀구에 살고 있습니다.</strong></p>
                    <p><strong>- HTML/CSS를 활용합니다.</strong></p>
                    <p><strong>- JavaScripts도 활용합니다.</strong></p>
                    <p><strong>- Python으로 프로그래밍합니다.</strong></p>
                    <p><strong>- django 프레임워크를 이용하여 웹 사이트를 제작합니다.</strong></p>
                </div>
            </div>
        </section>
        <section id ="job">
            <div class="page-title">
                <h1>Job</h1>
            </div>
            <div class="content">
                <div class="text">
                    <ul id="career">
                        <li>경력사항 없음.</li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="skill">
            <div class="page-title">
                <h1>skill</h1>
            </div>
            <div class="content">
                <div class="photo">
                    <img src="{% static 'pybo/python.jpg' %}" alt="파이썬 로고">
                </div>
                <div class="text">
                    <p>☞ 작품 이름을 클릭하면 사이트로 이동합니다.</p>
                    <ol id="link">
                        <li><a href="{% url 'pybo:index' %}">회원관리형 게시판</a></li>
                        <li><a href="#">팀 프로젝트</a></li>
                    </ol>
                </div>
            </div>
        </section>
        <footer>
            <div id="bottomMenu">
                <ul>
                    <li><a href="#">My Blog(개설 전)</a></li>
                    <li><a href="https://www.instagram.com/woong___h/">SNS</a></li>
                    <li>E-mail : lhw2106@naver.com</li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>